# filter the following file types from git diff processing

# RobotBuilder backup files
*~

# Windows backup files (WinMerge creates)
**/*.bak

# Windows executable files
**/*.exe

# Eclipse internal files
**/sysProps.xml
**/.settings/language.settings.xml
DS Log Parser/Debug/
DS Log Parser/.vs/
*.o
2019/cpp-multiCameraServer-2/multiCameraServerExample
2019/cpp-multiCameraServer/multiCameraServerExample
2019/VisionTest/visiontest/x64/Debug/
2019/VisionTest/x64/Debug/
2019/VisionTest/.vs/visiontest/v15/
2019/cpp-multiCameraServer-2/.vscode/ipch/
