# filter the following file types from git diff processing

# RobotBuilder backup files
*~

# Windows backup files (WinMerge creates)
**/*.bak

# Windows executable files
**/*.exe

# Eclipse internal files
DS Log Parser/Debug/
DS Log Parser/.vs/
*.o

# Third party nodejs code
node_modules
2021/Characterization/characterization-project/build/
2021/Characterization/characterization-project/.gradle/
