# filter the following file types from git diff processing

# RobotBuilder backup files
*~

# Windows backup files (WinMerge creates)
**/*.bak

# Windows executable files
**/*.exe

# Eclipse internal files
**/sysProps.xml
**/.settings/language.settings.xml
